extends: default
yaml-files:
  - "*.yml"
ignore: |
  .github
  data
  defaults
  examples
  schematics
rules:
  braces:
    level: warning
  brackets:
    level: warning
    min-spaces-inside: 0
    max-spaces-inside: 0
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  hyphens:
    level: warning
  comments:
    level: warning
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 2
  document-start: disable
  empty-lines:
    level: warning
    max-start: 0
    max-end: 0
  empty-values: disable
  indentation:
    level: warning
    spaces: 2
  key-duplicates:
    level: error
  line-length:
    level: warning
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-line-at-end-of-file: enable
  new-lines:
    level: warning
    type: unix
  quoted-strings: disable
  trailing-spaces:
    level: warning
